/* ---------------- ID's ---------------- */

/* Used for the top images. */
#top-img
{
    margin-top: 180px;
}

/* Used for the large image. */
#large-img
{
    width: 700px;
    height: 659px;
    margin-top: 180px;
    margin-right: 17.5px;
    margin-bottom: 17.5px;
    opacity: 0.7;
}

/* Used for the large image on hover. */
#large-img:hover
{
    opacity: 1;
}

/* Used for the bottom contact section. */
#contact-bar
{
    width: auto;
    height: 66px;
    background-color: #302d2c;
    margin-top: 144.5px;
}

/* Used for the contact buttons */
#contact-buttons
{
    width: 1067px;
    height: 35px;
    margin: auto;
}

/* Used for the instagram button. */
#instagram
{
    width: 28px;
    height: 28px;
}

/* Used for the linked in button. */
#linked-in
{
    width: 28px;
    height: 28px;
}

/* Used for the mail button. */
#mail
{
    width: 30px;
    height: 23px;
}

/* --------------- Classes --------------- */

/* Used for the small images. */
.small-img
{
    width: 332px;
    height: 312px;
    opacity: 0.7;
}

/* Used for the small images on hover. */
.small-img:hover
{
    opacity: 1;
}

/* Used for small images on the left. */
.small-img-left
{
    margin-top: 17.5px;
    margin-right: 17.5px;
    margin-bottom: 17.5px;
}

/* Used for small images in the center. */
.small-img-center
{
    margin: 17.5px;
}

/* Used for small images on the right. */
.small-img-right
{
    margin-top: 17.5px;
    margin-left: 17.5px;
    margin-bottom: 17.5px;
}

/* Used for the right contact image. */
.contact-img-right
{
    float: right;
    margin-top: 19px;
    margin-left: 15px;
}

/* Used for the right contact image. */
.contact-img-center
{
    float: right;
    margin-top: 19px;
    margin-right: 15px;
    margin-left: 15px;
}

/* Used for the right contact image. */
.contact-img-left
{
    float: right;
    margin-top: 22px;
    margin-right: 15px;
}