/* ---------------- ID's ---------------- */

/* Used for the top image. */
#top-image
{
    width: 1052px;
    height: 699px;
    margin-top: 180px;
    margin-bottom: 131px;
}

/* Used for the first wireframe image. */
#wireframe-1
{
    width: 615px;
    height: 346px;
    margin-top: 134px;
    margin-right: 73px;
    margin-bottom: 9px;
}

/* Used for the second wireframe image. */
#wireframe-2
{
    width: 615px;
    height: 391px;
    margin-right: 73px;
}

/* Used for the first phone image. */
#first-phone
{
    margin-top: 233px;
    margin-right: 72px;
    margin-bottom: 43px;
}

/* Used for the second phone image. */
#second-phone
{
    margin: 298px 91px 77px 85px;
}

/* Used for the third phone image. */
#third-phone
{
    margin: 185px 58px 0px 0px;
}

/* Used for the fourth phone image. */
#fourth-phone
{
    margin: 298px 85px 77px 0px;
}

/* Used for the fifth phone image. */
#fifth-phone
{
    margin: 27px 78px 0px 50px;
}

/* Used for the sixth phone image. */
#sixth-phone
{
    margin: 146px 67px 121px 0px;
}

/* Used for the seventh phone image. */
#seventh-phone
{
    margin: 27px 50px 0px 0px;
}

/* Used for the eigth phone image. */
#eigth-phone
{
    margin: 77px 27px 185px 130px;
}

/* Used for the ninth phone image. */
#ninth-phone
{
    margin: 77px 130px 185px 0px;
}

/* --------------- Classes --------------- */

/* Used for the large phone images. */
.large-phone
{
    width: 382px;
    height: 750px;
}

/* Used for the medium/large phone images. */
.medium-large-phone
{
    width: 311px;
    height: 629px;
}

/* Used for the medium phone images. */
.medium-phone
{
    width: 288px;
    height: 604px;
}

/* Used for the small/medium phone images. */
.small-medium-phone
{
    width: 210px;
    height: 439px;
}

/* Used for the small phone images. */
.small-phone
{
    width: 184px;
    height: 389px;
}