/* ---------------- ID's ---------------- */

/* Used for the post-it image. */
#post-it
{
    width: 367px;
    height: 450px;
    margin-right: 22px;
    margin-bottom: 99px;
}

/*  Used for the sign pinup image. */
#sign-pinup
{
    width: 326px;
    height: 249px;
    margin-right: 22px;
    margin-bottom: 22px;
}

/* Used for the sketch image. */
#sketch
{
    width: 308px;
    height: 251px;
    margin-bottom: 22px;
}

/* Used for the 3D sign image. */
#3d-sign
{
    width: 350px;
    height: 278px;
}

/* Used for the printing sign image. */
#printing-sign
{
    width: 286px;
    height: 183px;
    margin-left: 22px;
    margin-bottom: 93px;
}

/* Used for the first table. */
#first-table
{
    margin-top: 180px;
    margin-bottom: 113px;
}

/* Used for the map shapes image. */
#map-shapes
{
    width: 560px;
    height: 369px;
    margin: 113px 29px 87px 134px;
}

/* Used for the shapes description text. */
#shapes-desc
{
    margin-top: 95px;
}

/* Used for the lobby sign image. */
#lobby-sign
{
    width: 1052px;
    height: 633px;
    margin-bottom: 59px;
}

/* Used for the sign shapes image. */
#sign-shapes
{
    width: 1052px;
    height: 107px;
    margin-top: 57px;
    margin-bottom: 147px;
}

/* --------------- Classes --------------- */

.sculpture-video
{
    width: 447px;
    height: 280px;
}
